<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
<!--</div>-->
    <!--<iframe id="qqq" src="http://localhost:8084" frameborder="0"></iframe>-->
    <!--success!-->
<!--</body>-->
</html>
<script type="text/javascript">

    (function () {
        window.location.href = 'http://hahagrubby.com/reload'
        // try{
        //     var qqq = document.getElementById("qqq")
        //     qqq.contentWindow.postMessage("ggg",'http://localhost:8084')
        //     window.opener.reload()
        //     // console.log(window.opener)
        //     // window.parent.opener.location.reload();
        //     window.close();
        // }catch(e){
        //     console.log(window)
        //     // var haha = window.opener.location
        //     // console.log(haha)
        //     window.opener.reload()
        //     // window.opener.location = window.opener.location
        //     // window.opener.location = "http://localhost:8084/login";
        //     // window.opener = null;
        //     window.close();
        // }
    })();
    // setTimeout(function () {
    //     window.open('','_self','');
    //     window.close();
    // }, 1000)
</script>